name: Main Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main 

jobs:
  call-nodejs-ci:
    uses: ./.github/workflows/reusable-workflow.yaml
    with:
      node-version: '18'

  test:
    runs-on: ubuntu-latest
    needs: call-nodejs-ci
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install dependencies
        run: npm ci
      - name: Test API
        run: node ./test-cart.js
 
  build-push-dockerapp:
    runs-on: ubuntu-latest
    needs:
      - call-nodejs-ci
      - test
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Docker Login 
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERUSERNAME }}
          password: ${{ secrets.DOCKERPASSWORD }} 
      - name: Build and push Docker images
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            yousef2005/product-service:latest
            yousef2005/product-service:${{ github.sha }}
